@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

html {
  scroll-behavior: smooth;
  background-color: #353535;
}

body {
  background-color: #353535;
  /* padding-top: 10px; */
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.home-title {
  font-size: 50px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.home-content {
  font-size: 25px;
  font-weight: 300;
}

.home-content strong {
  font-weight: 900;
}

.home-button {
  background: #fff;
  padding: 15px 35px;
  margin-top: 25px;
  display: inline-block;
  border-radius: 11px;
  color: #1E1A1A;
  font-weight: 100;
  cursor: pointer;
  position: relative;
}

.home-button::after {
  content: '';
  background-image: url("data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KDTxnIGlkPSJTVkdSZXBvX2JnQ2FycmllciIgc3Ryb2tlLXdpZHRoPSIwIi8+Cg08ZyBpZD0iU1ZHUmVwb190cmFjZXJDYXJyaWVyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KDTxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIj4gPHBhdGggZD0iTTcgMTBMMTIgMTVMMTcgMTAiIHN0cm9rZT0iIzFFMUExQSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPiA8L2c+Cg08L3N2Zz4=");
  width: 20px;
  height: 20px;
  background-size: 100% auto;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.address-text p {
  font-size: 16px;
  font-style: normal;
}

.address-text p:nth-child(2), .address-text p:nth-child(3) {
  display: block;
  margin-bottom: 10px;
}

.sobre-mim {
  position: relative;
}

.sobre-mim::before {
  content: '';
  background-image: url('https://useorganico.vteximg.com.br/arquivos/line-throug-bg-left.png');
  display: block;
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.sobre-mim::after {
  content: '';
  background-image: url('https://useorganico.vteximg.com.br/arquivos/line-throug-bg-right.png');
  display: block;
  position: absolute;
  left: 63%;
  top: -8%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.post-page h1 {
  font-size: 80px;
  font-weight: 900;
}

.post-page p {
  font-size: 20px;
  font-weight: 100;
}

.post-page p strong {
  font-weight: 900;
  font-size: 22px;
}

.post-page ul {
  list-style: disc inside;
  margin: 15px 30px;
  font-size: 20px;
}

.post-page ul li {
  margin-bottom: 10px;
}

@media (max-width: 1020px) {
  .sobre-mim::before,
  .sobre-mim::after {
    display: none;
  }
  .home-title {
    font-size: 30px;
  }
  .home-content {
    font-size: 16px;
  }
  .collapse-arrow > .collapse-title:after {
    top: 0.9rem;
  }
}

.primary-button-home {
  /* height: 50px; */
  margin: 5px;
  width: 100%;
  background: #333;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: #000;
  transition: 500ms;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(145deg, #D5C9BD, #d0baa4);
  box-shadow: -1px -5px 15px #D5C9BD, 5px 5px 15px #D5C9BD, inset 5px 5px 10px #ccc7c7, inset -5px -5px 10px #ccc7c7;
  margin-top: 30px;
  display: flex;
  text-transform: uppercase;
}

.primary-button-home:last-of-type {
  width: 400px;
  margin-top: 15px;
  margin: 25px auto 30px;
}

@media screen and (max-width: 1020px) {
  .primary-button-home:last-of-type {
    width: 80%;
  }
}

.primary-button-home:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #333;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.primary-button-home:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #333;
  -webkit-transition: 100ms;
  transition: 100ms;
}
